#
# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_driver.dspi_freertos
    bool "dspi_freertos"
    select MCUX_COMPONENT_driver.dspi
    select MCUX_COMPONENT_middleware.freertos-kernel
