#
# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_driver.lpsci_freertos
    bool "lpsci_freertos"
    select MCUX_COMPONENT_driver.lpsci
    select MCUX_COMPONENT_middleware.freertos-kernel
